p, article {
    font-family: var(--p);
    font-size: 16px;
    color: var(--secondary-brown);
}

h1 {
    font-family: var(--h2);
    font-size: 40px;
    color: var(--primary-yellow);
    line-height: 100%;
    padding-bottom: 22px;
}

main {
    display: flex;
    flex-direction: column;
}

.above-h1 {
    font-size: 20px;
    color: var(--primary-green);
    font-weight: 600;

    padding-top: 24px;
}

.intro {
    font-size: 18px;
}

.data {
    padding-top: 24px;
}

.share > p {
    font-family: var(--h2);
    font-size: 18px;
    text-align: center;
}