* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-inline: 16px;
}

/* ==========================================================
   Slider Section
   ========================================================== */
.slider{
    position: relative;
    
    width: 100%;
    height: 530px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;
}

.slider input {
    z-index: 2;
    margin: 5px;
}

.slider-wrapper {
    width: 300%; /* Weil 3 Bilder/divs */
    height: 100%;

    position: absolute;
    display: flex;

    transition: all 1s ease-in-out;
}

.slider-element {
    width: calc(100% / 3);
    height: 100%;
}

.slider-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slider input[value="paloma"]:checked~.slider-wrapper {
    transform: translateX(0);
}

.slider input[value="kadir"]:checked~.slider-wrapper {
    transform: translateX(calc(100% / 3));
}

.slider input[value="tolga"]:checked~.slider-wrapper {
    transform: translateX(calc(-100% / 3));
}