/* ==========================================================
   Fonts
   ========================================================== */

/* arima-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/arima-v7-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* arima-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/arima-v7-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-dark-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/palanquin-dark-v17-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-dark-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/palanquin-dark-v17-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/palanquin-v17-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/palanquin-v17-latin-500.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/palanquin-v17-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ==========================================================
   CSS for all
   ========================================================== */
:root {
    /* Colours */
    --primary-yellow: rgba(241, 201, 83, 1);
    --primary-green: rgba(78, 164, 135, 1);
    --secondary-brown: rgba(84, 55, 13, 1);
    --secondary-light: rgb(255, 255, 255);
    --secondary-grey: rgba(115, 115, 115, 1);

    /* Fontsizes */
    --h2-mobile: 40px;
    --h3-mobile: 28px;
    --l-mobile: 24px;
    --m-mobile: 20px;
    --s-mobile: 15px;

    --h2-desktop: 52px;

    /* Font faces */
    --h2: Arima;
    --h3: Palanquin Dark;
    --p: Palanquin;

    /* Spacing (delete when not used in end */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    margin-inline: var(--spacing-md);

    display: flex;
    flex-direction: column;

    max-width: 1440px;
}

/* ==========================================================
   Header Section Tolga
   ========================================================== */
.site-header {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: var(--primary-green);
    padding: 7px 0;
}

.header-nav {
    display: none;
}

/* ==========================================================
   Reusable CSS
   ========================================================== */
.section-heading {
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);

    width: 100%;
    padding-top: 80px;
}

.section-heading h2 {
    font-family: var(--h2);
    font-size: var(--h2-mobile);
    color: var(--primary-green);
}

.btn-default {
    background-color: var(--primary-green);
    height: 48px;

    color: var(--primary-yellow);
    font-family: var(--h2);
    font-size: var(--l-mobile);
    font-weight: 700;
    letter-spacing: 5%;

    border-radius: 40px;
    border: none;
    padding: 0 20px;

    cursor: pointer;
}

/*                                     Hero Section Kadir                        */

.hero-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F1C953;
    height: 515px;
    overflow: hidden;

}

.hero-background-image {
    height: 100%;
    background-image: url('../assets/icons/vector-17.png'),
        url('../assets/images/cat-landing.jpg');
    background-position: top left, 100% center;
    background-position:
        top left,
        right center;
    background-size: auto, cover;
    background-repeat: no-repeat;
}


.hero-badge {
    position: absolute;
    top: 180px;
    left: 133px;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background-color: var(--primary-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 4px 10.8px 0px rgba(116, 33, 40, 0.4);


}

.badge-logo {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    transform: rotate(15deg);
    mix-blend-mode: multiply;
}


/*                            Hero Section Kadir ENDE                   */


/* ==========================================================
   Slider Section
   ========================================================== */
.slider-section > p {
    display: none;
}

.slider-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.slider-image-wrapper {
    position: relative;
}

.slider {
    position: relative;

    width: 100%;
    height: 530px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 22px;

    overflow: hidden;
}

.slider input {
    z-index: 2;

    appearance: none;
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--secondary-light);
    cursor: pointer;

    margin-bottom: 20px;
}

.slider input:checked {
    background-color: var(--primary-yellow);
    width: 40px;
    border-radius: 20px;
}

.slider-wrapper {
    width: 300%;
    height: 100%;

    position: absolute;
    display: flex;

    transition: all 1s ease-in-out;
}

.slider-element {
    position: relative;

    width: calc(100% / 3);
    height: 100%;
}

.slider-text-overlay {
    margin: var(--spacing-md);

    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 16px;
    z-index: 2;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-inline: solid 1px rgba(255, 255, 255, 0.5);

    color: var(--secondary-light);
    text-shadow: 2px 1px 4px var(--secondary-brown);
}

.slider-text-overlay h3 {
    font-family: var(--h3);
    font-size: var(--h3-mobile);
}

.slider-text-overlay p {
    font-family: var(--p);
    font-size: var(--m-mobile);
}

.slider-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    border-top-right-radius: 100px;
}

.slider input[value="paloma"]:checked~.slider-wrapper {
    transform: translateX(0);
}

.slider input[value="kadir"]:checked~.slider-wrapper {
    transform: translateX(calc(100% / 3));
}

.slider input[value="tolga"]:checked~.slider-wrapper {
    transform: translateX(calc(-100% / 3));
}

/* ==========================================================
   FAQ Section Tolga
   ========================================================== */

.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.faq-summary {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.faq-summary details {
    padding: 16px 14px;
    border-radius: 12px;
    background: var(--primary-yellow);
    font-family: var(--p);
}

.faq-summary summary {
    display: flex;
    justify-content: space-between;
    width: 307px;
    cursor: pointer;
    list-style: none;
    color: var(--secondary-brown);
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.faq-section summary::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url("/assets/icons/arrow_forward_ios.svg") no-repeat center;
    transform: rotate(180deg);
    transition: 0.5s;
}

.faq-section details[open] summary::after {
    transform: none;
}

.faq-section p {
    margin: 8px 0;
    padding: 4px 10px;
    border-radius: 5px;
    background: white;
    color: var(--secondary-brown);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

/* ==========================================================
   Contact form Section
   ========================================================== */
.contact-section p {
    display: none;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

.form label {
    display: block;

    color: var(--secondary-brown);
    font-family: var(--p);
    font-size: var(--l-mobile);
    font-weight: 500;
}

.form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid var(--secondary-brown);

    color: var(--primary-green);
    font-family: var(--p);
    font-size: var(--l-mobile);
    font-weight: 500;
}

.form input.message {
    font-weight: 400;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    position: relative;

    width: 20px;
    height: 20px;
    border: 2px solid var(--secondary-brown);
    border-radius: 2px;
    flex-shrink: 0;
    cursor: pointer;

    margin-top: 2px;
}

.checkbox label {
    font-family: var(--p);
    font-size: var(--s-mobile);
    color: var(--secondary-brown);
    line-height: 1.5;
}

.checkbox label a {
    color: var(--primary-green);
    text-decoration: none;
    padding-inline: 5px;
}

.checkbox input:hover {
    background-color: var(--primary-yellow);
}

.checkbox input:checked {
    background-color: var(--primary-green);
    border: none;
}

.checkbox input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid var(--primary-yellow);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-wrapper button {
    width: 140px;
}

.form:not(:has(#privacy-policy:checked)) button {
    background-color: white;
    color: var(--secondary-grey);
    border: 1px solid var(--secondary-grey);
    text-shadow: none;
    box-shadow: none;

    pointer-events: none;
}

.form button:hover {
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(78, 164, 135, 0.3);
}

/* ==========================================================
   Footer Section Tolga
   ========================================================== */
   
.green-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 134px;
    padding: 30px var(--spacing-lg);
    background-color: var(--primary-green);
    color: white;
    font-family: var(--p);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.green-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyright-icon {
    display: flex;
    gap: 4px;
}

.socials-footer {
    display: flex;
    gap: 16px;
    height: var(--l-mobile);
}

.yellow-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    height: 90px;
    padding: var(--spacing-lg) 25px;
    background-color: var(--primary-yellow);
}

.yellow-footer img {
    width: 40px;
}

/* ==========================================================
   Mediaqueries
   ========================================================== */

@media (min-width: 788px) {
    main {
        padding-inline: 120px;
    }

    .section-heading h2 {
        font-size: var(--h2-desktop);
    }

    .site-header {
        justify-content: flex-start;
        gap: 48px;
        height: 128px;
        padding: 7px 120px;
    }

    .header-nav {
        display: flex;
        align-self: center;
        gap: 60px;
        padding: 0;
        list-style: none;
    }

    .header-nav a {
        color: white;
        font-family: var(--h2);
        font-size: var(--l-mobile);
        font-weight: 700;
        text-decoration: none;
    }

    .slider-section {
        gap: 0;
    }

    .slider-section p,
    .contact-section p {
        display: block;

        margin: 24px 0 56px;

        font-family: var(--p);
        font-size: var(--l-mobile);
        font-weight: 500;
        text-align: center;
        line-height: 110.00000000000001%;
        color: var(--secondary-brown);
    }

    .slider-text-overlay {
        width: 70%;
        top: 54px;
        left: 38px;
    }

    .slider-text-overlay p {
        color: var(--secondary-light);
        text-align: start;
    }

    .faq-summary {
        gap: 32px;
    }

    .faq-summary summary {
        width: 100%;
        font-size: 20px;
    }

    .form-neighbours {
        display: flex;
        gap: 10%;
    }

    .form-neighbours div {
        width: 45%;

        flex: 1;
    }

    .form label {
        padding: 0;
    }

    .checkbox {
        justify-content: center;
    }

    .checkbox label {
        line-height: initial;
    }

    .btn-wrapper {
        padding-top: 32px;
    }

.hero-section {
        height: 515px;
    }

    .hero-background-image {
        background-position: top left, right center;
    }

 
    .hero-badge {
        top: 180px;
        left: 133px;
        width: 160px;
        height: 160px;
    }

    .green-footer {
        align-items: center;
        height: 152px;
        padding: 60px 120px;
    }

    .green-left {
        flex-direction: row;
        align-items: center;
        gap: 72px;
    }

    .copyright-icon {
        order: -1;
        align-items: center;
    }

    .socials-footer {
        gap: 20px;
        height: 32px;
    }

    .socials-footer img {
        height: 32px;
    }

    .yellow-footer {
        display: none;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 1440px;
        margin-inline: auto;
    }

    .form-neighours {
        display: flex;
        gap: 100px
    }

    .form-neighours div {
        width: 50%;
    }


}