/* ==========================================================
   Fonts
   ========================================================== */

/* arima-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/arima-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* arima-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/arima-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-dark-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/palanquin-dark-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-dark-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/palanquin-dark-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/palanquin-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/palanquin-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* ==========================================================
   CSS for all
   ========================================================== */
:root {
    /* Colours */
    --primary-yellow: rgba(241, 201, 83, 1);
    --primary-green: rgba(78, 164, 135, 1);
    --secondary-brown: rgba(84, 55, 13, 1);
    --secondary-light: rgba(255, 255, 255, 1);

    /* Fontsizes */
    --h2-mobile: 40px;
    --h3-mobile: 28px;
    --p-mobile: 20px;

    /* Font faces */
    --h2: Arima;
    --h3: Palanquin Dark;
    --p: Palanquin;

    /* Spacing (delete when not used in end */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-inline: var(--spacing-md);
}

/* ==========================================================
   Slider Section
   ========================================================== */
.slider-section {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
}

.slider-heading h2 {
    font-family: var(--h2);
    font-size: var(--h2-mobile);
    color: var(--primary-green);
}

.slider-image-wrapper {
    position: relative;
}

.slider-text-overlay {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 16px;
    z-index: 2;

    color: var(--secondary-light);
}

.slider-text-overlay h3 {
    font-family: var(--h3);
    font-size: var(--h3-mobile);
}

.slider-text-overlay p {
    font-family: var(--p);
    font-size: var(--p-mobile);
}

.slider {
    position: relative;

    width: 100%;
    height: 530px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;
}

.slider input {
    z-index: 2;
    margin: 5px;
}

.slider-wrapper {
    width: 300%; /* Weil 3 Bilder/divs */
    height: 100%;

    position: absolute;
    display: flex;

    transition: all 1s ease-in-out;
}

.slider-element {
    width: calc(100% / 3);
    height: 100%;
}

.slider-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slider input[value="paloma"]:checked ~ .slider-wrapper {
    transform: translateX(0);
}

.slider input[value="kadir"]:checked ~ .slider-wrapper {
    transform: translateX(calc(100% / 3));
}

.slider input[value="tolga"]:checked ~ .slider-wrapper {
    transform: translateX(calc(-100% / 3));
}
